<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Olx" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <nav class="navbar" style="background: #232f3e; padding: 1rem; display: flex; justify-content: space-between; align-items: center; color: white;">
  
  <div class="nav-logo">
    <%= link_to "Marketplace", root_path, style: "color: white; font-size: 1.5rem; text-decoration: none; font-weight: bold;" %>
  </div>

  <div class="nav-links">
    <%= link_to "All Items", items_path, style: "color: white; margin-right: 15px; text-decoration: none;" %>
    
    <%# Using the logic we built earlier for current_user %>
    <% if current_user %>
      <span style="margin-right: 15px; color: #aaa;">
        Hello, <%= current_user.name %>
      </span>
      <%= link_to "Sell Item", new_item_path, style: "background: #febd69; color: #111; padding: 8px 15px; border-radius: 4px; text-decoration: none; font-weight: bold;" %>
      <%= link_to "Fav", likes_path, style: "background: #febd69; color: #111; padding: 8px 15px; border-radius: 4px; text-decoration: none; font-weight: bold;" %>
      <%= link_to "Chat", conversations_path, style: "background: #febd69; color: #111; padding: 8px 15px; border-radius: 4px; text-decoration: none; font-weight: bold;" %>
      <%= link_to "My Deals", deals_path, style: "background: #febd69; color: #111; padding: 8px 15px; border-radius: 4px; text-decoration: none; font-weight: bold;"%>
    <% end %>
  </div>
</nav>
    <%= yield %>
  </body>
</html>
